$main-color: #fff;
$font-stack: 'PT Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
	background-color: $main-color;
	font-family: $font-stack;
	background: url("../images/explosion.jpg") no-repeat center center fixed;
	background-size: cover;
}


.center {
	text-align: center;
}

#main-header {
	padding:0;
	margin-bottom: 1em;


	h3 {
	margin-top: .5em;
	margin-bottom: 1em;
	}

}
  
#category-select {
	appearance: none;
	font-size: 1.4em;
	background-color: #ff3333;
	color: white;
	padding: 1em;
	height: 50px;
}

#product-div {
	// border: 1px solid grey;
	color: white;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: rgba(225, 51, 51, .6);
	padding-bottom: 1em;
	border-radius: 10px;
	box-shadow: -1px 0px 11px 1px rgba(100,100,100,0.50);


	h2 {
		margin-top: .25em;
	}
}

.card {
	min-width: 30%;
	min-height: 150px;
	// background-color: blue;
	// margin: em;
}

.card-header {
	text-decoration: underline;
}

.subscript {
	font-size: .9em;
	font-weight: bold;
}

.footer {
	background-color: #eee;
	color: black;
	position:fixed;
   	left:0px;
   	bottom:0px;
   	width: 100%;
	// position: fixed;

	p{
		margin-top: .5em;
		margin-bottom: .5em;
	}
}
 

// #main-header 

